
@{
    ViewBag.Title = "About";
}

<div class="container-fluid">
    <div class="row">
        <div class="col textBlock" style="height: 500px">
            <div>
                <b>About us</b><br />
                Наш сервис абсолютно бесплатно предлагает насладиться популярной игрой камень-ножницы-бумага<br />
                По любым вопросам обращайтесь на электронную почту, указанную в контактах
            </div>
        </div>
    </div>
</div>

