
@{
    ViewBag.Title = "Contact";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col textBlock">
                <div>
                    <b>Our Address:</b><br />
                    Улица: Строителей<br />
                    Дом: 12<br />
                    Офис: 5<br />
                </div>
            </div>
            <div class="col textBlock">
                <div>
                    <b>Email:</b><br />
                    example@example.com
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col textBlock">
                <div>
                    <b>Phone numbers:</b><br />
                    +7 123 34 23 46
                    +7 625 34 83 76
                </div>
            </div>
            <div class="col textBlock">
                <div>
                    <b>Working mode:</b><br />
                    Monday - Friday: 9:00 A.M. - 16:00 P.M.<br />
                    Saturday - Sunday: 12:00 A.M. - 16:00 P.M.<br />
                    <span style="color:red">В праздники мы закрыты</span>
                </div>
            </div>
        </div>
    </div>

